- name: Disable sleep mode
  ansible.builtin.command:
    cmd: pmset -a sleep 0 hibernatemode 0 disablesleep 1
  become: true

- name: Remove recent items from Dock
  community.general.osx_defaults:
    domain: com.apple.dock.plist
    key: show-recents
    type: bool
    value: false
  notify:
    - Refresh Dock

- name: Show hidden files on Finder
  community.general.osx_defaults:
    domain: com.apple.finder
    key: AppleShowAllFiles
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Avoid creating .DS_Store files on network volumes
  community.general.osx_defaults:
    domain: com.apple.desktopservices
    key: DSDontWriteNetworkStores
    type: bool
    value: true

- name: Avoid creating .DS_Store files on USB volumes
  community.general.osx_defaults:
    domain: com.apple.desktopservices
    key: DSDontWriteUSBStores
    type: bool
    value: true

- name: Allow custom location for Finder windows
  community.general.osx_defaults:
    domain: com.apple.finder
    key: NewWindowTarget
    type: string
    value: PfLo

- name: Set Home folder as the default location for new Finder windows
  community.general.osx_defaults:
    domain: com.apple.finder
    key: NewWindowTargetPath
    type: string
    value: "file://{{ ansible_env.HOME }}"
  notify:
    - Refresh Finder

- name: Show all filename extensions
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleShowAllExtensions
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Show status bar in Finder
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowStatusBar
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Allow text selection in Quick Look
  community.general.osx_defaults:
    domain: com.apple.finder
    key: QLEnableTextSelection
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Display full POSIX path as Finder window title
  community.general.osx_defaults:
    domain: com.apple.finder
    key: _FXShowPosixPathInTitle
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Display path in Finder status row
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowPathbar
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Default arrange by kind
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXArrangeGroupViewBy
    type: string
    value: kind
  notify:
    - Refresh Finder

- name: Preferred arrange by kind
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXPreferredGroupBy
    type: string
    value: kind
  notify:
    - Refresh Finder

- name: Arrange by kind
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FK_ArrangeBy
    type: string
    value: kind
  notify:
    - Refresh Finder

- name: Sort folders first
  community.general.osx_defaults:
    domain: com.apple.finder
    key: _FXSortFoldersFirst
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Use column view in all Finder windows by default
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXPreferredViewStyle
    type: string
    value: Nlsv
  notify:
    - Refresh Finder

- name: Set the icon size of Dock items
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: float
    value: 50
  notify:
    - Refresh Dock

- name: Show the main window when launching Activity Monitor
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: OpenMainWindow
    type: bool
    value: true

- name: Show all processes in Activity Monitor
  community.general.osx_defaults:
    domain: com.apple.ActivityMonitor
    key: ShowCategory
    type: int
    value: 0

- name: Disable screensaver
  community.general.osx_defaults:
    domain: com.apple.screensaver
    key: idleTime
    type: int
    value: 0

- name: Disable the 'Are you sure you want to open this application?' dialog
  community.general.osx_defaults:
    domain: com.apple.LaunchServices
    key: LSQuarantine
    type: bool
    value: false

- name: Disable 'Reopen windows when logging back in' by default
  community.general.osx_defaults:
    domain: com.apple.loginwindow
    key: TALLogoutSavesState
    type: bool
    value: false

- name: Show batery percent
  community.general.osx_defaults:
    domain: com.apple.menuextra.battery
    key: ShowPercent
    type: bool
    value: true
  notify:
    - Refresh SystemUIServer

- name: Disable day of the week in menu bar clock
  community.general.osx_defaults:
    domain: com.apple.menuextra.clock
    key: DateFormat
    type: string
    value: HH:mm

- name: Disable floating screenshot thumbnail
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: show-thumbnail
    type: bool
    value: false

#- name: Accept XCode license
#  ansible.builtin.command:
#    cmd: xcodebuild -license accept
#  become: true

- name: Disable reopen on restart
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: ApplePersistence
    type: bool
    value: false

- name: Enable subpixel font rendering on non-Apple LCDs
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleFontSmoothing
    type: int
    value: 2

- name: Disable 'smart' quotes
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticQuoteSubstitutionEnabled
    type: bool
    value: false

- name: Disable 'smart' dashes
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSAutomaticDashSubstitutionEnabled
    type: bool
    value: false

- name: Reveal IP address, hostname, OS version, etc. when clicking the clock in the login window
  community.general.osx_defaults:
    domain: com.apple.loginwindow
    key: AdminHostInfo
    type: string
    value: HostName

- name: Allow text selection in QuickLook
  community.general.osx_defaults:
    domain: com.apple.finder
    key: QLEnableTextSelection
    type: bool
    value: true
  notify:
    - Refresh Finder

- name: Default to local files instead of iCloud
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: NSDocumentSaveNewDocumentsToCloud
    type: bool
    value: false

- name: Should remove downloaded from the internet warnings
  community.general.osx_defaults:
    domain: com.apple.LaunchServices
    key: LSQuarantine
    type: bool
    value: false
