- name: Clone macos-provisioner repo
  ansible.builtin.git:
    repo: git@github.com:slamdev/macos-provisioner.git
    dest: "{{ ansible_env.HOME }}/.macos-provisioner"
    accept_hostkey: yes

- name: Symlink sudoers
  file:
    src: "{{ ansible_env.HOME }}/.macos-provisioner/dotfiles/sudoers"
    dest: /private/etc/sudoers.d/custom
    state: link
    group: 0
    owner: 0
  become: yes

- name: Ensure directory is created
  file:
    path: "{{ item.dest | dirname }}"
    state: directory
  with_items: "{{ dotfiles }}"

- name: Symlink files
  file:
    src: "{{ ansible_env.HOME }}/.macos-provisioner/dotfiles/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  with_items: "{{ dotfiles }}"

- name: Load secret data
  copy:
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/secret-profile.zsh"
    mode: 0600
    content: "{{ secret_profile }}"

- name: Download iterm shell integration
  get_url:
    url: https://iterm2.com/shell_integration/zsh
    dest: "{{ ansible_env.HOME }}/.iterm2_shell_integration.zsh"
    mode: 0755

- name: Set iterm profile
  community.general.osx_defaults:
    domain: com.googlecode.iterm2
    key: Default Bookmark Guid
    type: string
    value: BE1798E7-7D9B-43FB-9D30-843AADE7FE45
